@inherits LayoutComponentBase

<PageTitle>CookInspirationBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth" style="background-color: #06173d; border: none;">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="text-decoration: none; color: white;">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
